html, body {
    // box model
    width: 100%;
}

html {
    // positioning
    position: relative;

    // box model
    box-sizing: border-box;
    
    // typography
    font-size: $baseFontSize;

    @include atMinMobile {
        font-size: $fontForSmallMobile;
    }

    // visual
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

body {
    // box model
    min-width: 320px;
    margin: 0;

    // visual
    background-color: $mainColor;
}

.overflow-wrap {
    // visual
    overflow-x: hidden;
}

.main {
    // box model
    padding-left: 20px;
    padding-right: 20px;

    @include atTablet {
        // box model
        padding-left: 30px;
        padding-right: 30px;
    }

    @include atDesktopS {
        // box model
        padding-left: 40px;
        padding-right: 40px;
    }

    @include atDesktopM {
        // box model
        padding: 0;
    }
}

*,
*::before,
*::after {
    // box model
    box-sizing: inherit;
}

input[ type="number" ]::-webkit-outer-spin-button,
input[ type="number" ]::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
}


input[ type="number" ] {
    -moz-appearance: textfield;
}

input[ type="number" ]:hover,
input[ type="number" ]:focus {
    -moz-appearance: number-input;
}

input[ type="number" ]::-webkit-inner-spin-button,
input[ type="number" ]::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none;
}