// colors
$mainColor: #ffffff;
$decoColor: #84cc18;
$black: #000000;
$grey: #333333;
$lightGrey: #777777;
$red: #ff000f;
$googleColor: #4285F4;
$facebookColor: #314a7e;
$vkColor: #4F75A2;

// typography
$baseFontSize: 18px;
$fontForSmallMobile: 16px;
$titleFont: "MuseoSans";
$baseFont: "Roboto";