<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Продажа и монтаж отопительного оборудования, газовые котлы, теплый пол
        link(rel="stylesheet", href="styles.css")
    body
        include ./pug-modules/header.pug

        main.main
            h1 some test
        include ./pug-modules/footer.pug
        script(src="default.js")
        script(src="main.js")