@font-face {
    font-family: "Roboto";
    src: local("Roboto Bold"),
        local("Roboto Bold"),
        url("./fonts/Roboto/Roboto-Bold.woff2"),
        url("./fonts/Roboto/Roboto-Bold.woff");

    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto Regular"),
        local("Roboto-Regular"),
        url("./fonts/Roboto/Roboto-Regular.woff2") format("woff2"),
        url("/fonts/Roboto/Roboto-Regular.woff") format("woff");

    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto Thin"),
        local("Roboto-Thin"),
        url("./fonts/Roboto/Roboto-Thin.woff2") format("woff2"),
        url("./fonts/Roboto/Roboto-Thin.woff") format("woff");

    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "MuseoSans";
    src: local("Museosans Thin"),
        local("Museosans-Thin"), 
        url("./fonts/MuseoSans/Museosans-Thin.woff2") format("woff2"),
        url("./fonts/MuseoSans/Museosans-Thin.woff") format("woff");

    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "MuseoSans";
    src: local("Museosans Bold"),
        local("Museosans-Bold"), 
        url("./fonts/MuseoSans/Museosans-Bold.woff2") format("woff2"),
        url("./fonts/MuseoSans/Museosans-Bold.woff") format("woff");

    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "MuseoSans";
    src: local("Museosans Regular"),
        local("Museosans-Regular"), 
        url("./fonts/MuseoSans/Museosans-Regular.woff2") format("woff2"),
        url("./fonts/MuseoSans/Museosans-Regular.woff") format("woff");

    font-weight: 500;
    font-style: normal;
}